.app.light {
    --bg-color: #c7c7c7;
    --inverted-bg-color: #030336;

    --primary-color: #0400ff;
    --secondary-color: #0011ff;
    --inverted-primary-color: #03a503;
    --inverted-secondary-color: #007a00;
} 